body {
padding: 35px;
position: relative;

}

body::after { /* background image */
    content: "";
    background: url(https://wallpaperplay.com/walls/full/a/1/d/137789.jpg);
    background-size: 100%;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
    
  }

  p {
    margin-bottom: 20px;
    font-family: 'Rammetto One', cursive;
  }

.card {   /*find another Avenger and Submit button*/
    width: 60%;
    margin: 0 auto;
    border: 10px dotted red;
    color: rgb(74, 3, 74);
    font-family: 'Rammetto One', cursive;
    font-size: 17px;
    padding: 10px;
    
} 

#addSearch { /*search button*/
  padding: 5px;
  color: green;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

#addSearch:hover, #addSearch:focus, #addSearch:active { /*search button hover effects*/
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}



.search-item { /* places gifs into this area and repopulate*/
  margin-left:50px;
  float: left;
  padding: 10px;
}

h1 {
  font-family: 'Rammetto One', cursive;
  font-size: 35px;
  color: rgb(74, 3, 74);  
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg,rgb(133, 8, 133),rgb(74, 3, 74),rgb(133, 8, 133));
  background-repeat: no-repeat;
  background-size: 80%;
  animation: animate 3s linear infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
  0% {
    background-position: -500%;
  }
  100% {
    background-position: 500%;
  }
}

.searchButton  { /* saved buttons from search with hover effects*/
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  margin-right: 5px;
  padding: 5px;
  font-family: 'Rammetto One', cursive;
  background: rgb(34, 186, 34);
  color: rgb(133, 8, 133);
}
.searchButton:hover, .searchButton:focus, .searchButton:active {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

#search-input {
  color: rgb(74, 3, 74);
  margin-right: 10px;
  margin-left: 10px;
}